%ul{class: 'breadcrumb'}
  %li
    = link_to "Home", root_path
    <span class="divider">/</span>
  %li{class: 'active'}
    = link_to "Top Standings", top_standings_path 
    <span class="divider">/</span>
  %li
    = @top_standing.title

%h1
  = @top_standing.title

%table{:class => 'table table-striped table-bordered'}
  %tr
    %th Player
    %th Coach
    %th Country
    %th Comments

  - @top_standing_entries.each do |top_standing_entry|
    %tr
      %td= top_standing_entry.player
      %td= top_standing_entry.coach.html_safe
      %td= top_standing_entry.country
      %td= top_standing_entry.comments.html_safe

= link_to 'Back', top_standings_path
