
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "landing-image.png" %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Welcome to the eNegotiation Exhibition</h1>
            <p class="lead">Join with participants from around the world and
          experience the power and efficiency of online negotiation systems.</p>
            <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
          </div>
       </div>
      </div>
    </div>
  </div>
</div>

<div class="container marketing">

  <div class="row">
    <div class="span4">
      <%= image_tag "icons/e-learning.png", class: "img-rounded" %>
      <h2>Learn from anywhere</h2>
      <p>With the eNegotiation Exhibition site, you can try out the latest in eNegotiation technology using your
        computer, tablet or smartphone.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div><!-- /.span4 -->
    <div class="span4">
      <%= image_tag "icons/logo-ss-mini.png", class: "img-rounded" %>
      <h2>Software Training</h2>
      <p>From Smartsettle One to Infinity, learn how our software tools can fit with your specific case from the simplest
        two-party, single issue case to complex multi-party and multi-issue negotiations.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div><!-- /.span4 -->
    <div class="span4">
      <%= image_tag "icons/justice-balance.png", class: "img-rounded" %>
      <h2>Real World Ready</h2>
      <p>Smartsettle applications range from small claims, insurance, and debt settlement to family, business, community, government, water resource development and international peace treaties.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div><!-- /.span4 -->
  </div><!-- /.row -->

  <hr class="featurette-divider">

  <div class="featurette">
    <%= image_tag "agreement.png", class: "featurette-image pull-right" %>
    <h2 class="featurette-heading">Smartsettle,  <span class="muted">dedicated to</span></h2>
    <p class="lead">resolving conflict 
      in a more peaceful, collaborative & intelligent way throughout the world.</p>
  </div>

  <hr class="featurette-divider">

</div>